@import '../constant.scss';

.board {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 0.25em;

  .list-form {
    margin: 0 0.25em;
    
    .form-container {
      background-color: rgba(255,255,255,0.5);
      border-radius: 0.25em;
      width: 18em;
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      padding: 0.25em;

      .title-field {
        border: 2px solid $text-field-border;
        border-radius: 0.25em;
        background-color: white;
      }
      
      .form-actions {
        display: flex;
        margin-top: 0.25em;
        justify-content: space-between;
      }

      .form-btn {
        flex: 1;
        display: flex;
      }
      
      .form-icon {
        margin-right: 0.25em;
        color: white;
      }
      
      .form-text {
        text-transform: none;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        flex: 1;
      }
    }
  }
}

