@import '../constant.scss';

.list {
  margin: 0 0.25em;

  .list-container {
    background-color: $list-background-color;
    border-radius: 0.25em;
    width: 18em;
    display: flex;
    flex-direction: column;
    max-height: 100vh;

    .list-header {
      padding: 0.5em 0.75em;
      font-size: 15px;
      line-height: 24px;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .list-content{
      flex: 1;
      padding: 0.5em 0.75em;
      max-height: 100vh;
      overflow-y: scroll;

      .cards {
        display: flex;
        flex-direction: column;
      }
    }

    .list-footer {
      padding: 0.5em 0.75em;
      display: flex;

      .card-form {
        flex: 1;

        .title-field {
          border: 2px solid $text-field-border;
          border-radius: 0.25em;
          background-color: white;
        }

        .form-actions {
          display: flex;
          margin-top: 0.25em;
          justify-content: space-between;
        }
      }

      .footer-btn {
        flex: 1;
        display: flex;
      
        .footer-icon {
          margin-right: 0.25em;
          color: $footer-color;
        }
        
        .footer-text {
          text-transform: none;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          color: $footer-color;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          flex: 1;
        } 
      }
    }
  }
}





